body {
  background-color: #121213;
  color: #fff;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.line {
  display: flex;
  gap: 7px;
}

.tile {
  display: flex;
  width: 58px;
  height: 58px;
  border: 2px solid #565758;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
.corret {
  background-color: #538d4e;
}

.almost-corret {
  background-color: #c9b458;
}
.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-2px) rotate(0deg);
  }
  10% {
    transform: translateX(2px) rotate(-2deg);
  }
  20% {
    transform: translateX(-2px) rotate(2deg);
  }
  30% {
    transform: translateX(2px) rotate(0deg);
  }
  40% {
    transform: translateX(-2px) rotate(1deg);
  }
  50% {
    transform: translateX(2px) rotate(-1deg);
  }
  60% {
    transform: translateX(-2px) rotate(0deg);
  }
  70% {
    transform: translateX(2px) rotate(-2deg);
  }
  80% {
    transform: translateX(-2px) rotate(2deg);
  }
  90% {
    transform: translateX(2px) rotate(0deg);
  }
  100% {
    transform: translateX(-2px) rotate(-1deg);
  }
}
