html,
body {
  background-color: #121213;
  color: #fff;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.line {
  display: flex;
  gap: 7px;
}

.tile {
  display: flex;
  width: 58px;
  height: 58px;
  border: 2px solid #565758;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
.game-keyboard {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.center {
  margin: 0 auto;
}

.game-keyboard .row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.game-btn {
  align-items: center;
  background-color: #cdcdcd;
  border: 2px solid transparent;
  border-radius: 4px;
  color: #404040;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  font-size: 20px;
  justify-content: center;
  margin: 2px;
  min-height: 40px;
  padding: 2px;
  text-decoration: inherit;
  text-transform: capitalize;
}

.wide-btn {
  flex: 2 1;
}

.correct {
  background-color: #538d4e;
  color: #fff;
}

.almost-correct {
  background-color: #c9b458;
  color: #fff;
}

.incorrect {
  background-color: #404040;
  color: #fff;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-2px) rotate(0deg);
  }
  10% {
    transform: translateX(2px) rotate(-2deg);
  }
  20% {
    transform: translateX(-2px) rotate(2deg);
  }
  30% {
    transform: translateX(2px) rotate(0deg);
  }
  40% {
    transform: translateX(-2px) rotate(1deg);
  }
  50% {
    transform: translateX(2px) rotate(-1deg);
  }
  60% {
    transform: translateX(-2px) rotate(0deg);
  }
  70% {
    transform: translateX(2px) rotate(-2deg);
  }
  80% {
    transform: translateX(-2px) rotate(2deg);
  }
  90% {
    transform: translateX(2px) rotate(0deg);
  }
  100% {
    transform: translateX(-2px) rotate(-1deg);
  }
}
